Build a regression model.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("c:/users/patel/join_data.csv")

In [3]:
data.head()

,index,bike_station,category_x,renting,returning,free_bikes,total_bikes,longitude_x,latitude_x,category_y,rating,name
0,0,2112 W Peterson Ave,bike station,1.0,1.0,1.0,3.0,-87.683593,41.991178,20,3.925000,20
1,1,63rd St Beach,bike station,1.0,1.0,5.0,7.0,-87.576324,41.780911,21,2.105263,21
2,2,900 W Harrison St,bike station,1.0,1.0,11.0,13.0,-87.649807,41.874754,27,4.125000,27
3,3,Aberdeen St & Jackson Blvd,bike station,1.0,1.0,4.0,6.0,-87.654787,41.877726,28,4.275000,28
4,4,Aberdeen St & Monroe St,bike station,1.0,1.0,5.0,7.0,-87.655519,41.880419,27,4.300000,27

Build a regression model using Pythonâ€™s `statsmodels` module that demonstrates a relationship between the number of bikes in a particular location and the characteristics of the POIs in that location.

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1416 entries, 0 to 1415
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         1416 non-null   int64
 1   bike_station  1416 non-null   object
 2   category_x    1416 non-null   object
 3   renting       1416 non-null   float64
 4   returning     1416 non-null   float64
 5   free_bikes    1416 non-null   float64
 6   total_bikes   1416 non-null   float64
 7   longitude_x   1416 non-null   float64
 8   latitude_x    1416 non-null   float64
 9   category_y    1416 non-null   int64
 10  rating        1416 non-null   float64
 11  name          1416 non-null   int64
dtypes: float64(7), int64(3), object(2)
memory usage: 132.9+ KB

In [6]:
import statsmodels.api as sm

In [23]:
X = data[['rating','name']]
X.describe()

            rating         name
count  1416.000000  1416.000000
mean      3.574559    24.886299
std       0.767962     3.461111
min       0.916667     1.000000
25%       3.150000    24.000000
50%       3.875000    26.000000
75%       4.175000    27.000000
max       5.000000    30.000000

In [24]:
Y = data['total_bikes']
Y.describe()

count    1416.000000
mean        5.329096
std         4.162990
min         0.000000
25%         2.000000
50%         4.000000
75%         8.000000
max        29.000000
Name: total_bikes, dtype: float64

In [25]:
X = sm.add_constant(X) # adding a constant
lin_reg = sm.OLS(Y,X)

In [26]:
model = lin_reg.fit()
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:            total_bikes   R-squared:                       0.070
Model:                            OLS   Adj. R-squared:                  0.069
Method:                 Least Squares   F-statistic:                     53.47
Date:                Mon, 24 Apr 2023   Prob (F-statistic):           4.13e-23
Time:                        11:15:39   Log-Likelihood:                -3976.6
No. Observations:                1416   AIC:                             7959.
Df Residuals:                    1413   BIC:                             7975.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          2.0789      0.818      2.541      0.011       0.474       3.684
rating         1.5166      0.147     10.316      0.000       1.228       1.805
name          -0.0872      0.033     -2.674      0.008      -0.151      -0.023
==============================================================================
Omnibus:                      392.617   Durbin-Watson:                   1.329
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              972.869
Skew:                           1.486   Prob(JB):                    5.55e-212
Kurtosis:                       5.768   Cond. No.                         195.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Provide model output and an interpretation of the results.

1.R-squared:In this output, we can see that the value is 0.106. This means that the model is capable of explaining 7% of the patterns in the data.

2.P>|t| (or the p-value): This regression output shows a p-value of 0, which means that the probability of the relationship between the average number of bikes and ratings and POI counts of POI being solely due to natural variation is 0. In other words, POI counts and rating does impact the number of bikes.
    
3.coef :we can see that the coef of rating has a value of 1.5166 and -0.872 . This means that increase in rating has positive impact on number of bikes and increase in number of POI has negative impact on number of counts.

4.We can conclude that quality affects positively in comerision of quantity.

# Stretch

How can you turn the regression model into a classification model?